<div class="max-w-md mx-auto px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold mb-4">Редактировать отчет о лабораторной работе</h1>

  <%= render 'form', lab_report: @lab_report %>

  <%= link_to 'Назад', lab_reports_path, class: "mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
</div>
